div#container
{
   width: 970px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#PageHeader1
{
   background-color: #F5F5F5;
   background-image: none;
   box-sizing: border-box;
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #D3D3D3;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid1
{
   box-sizing: border-box;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   padding: 5px 0px 25px 0px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid1 > .col-1, #LayoutGrid1 > .col-2
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid1 > .col-1, #LayoutGrid1 > .col-2
{
   -webkit-flex: 0 0 auto;
   flex: 0 0 auto;
}
#LayoutGrid1 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 8.33333333%;
   max-width: 8.33333333%;
   -webkit-align-self: flex-start;
   align-self: flex-start;
   text-align: center;
}
#LayoutGrid1 > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 91.66666667%;
   max-width: 91.66666667%;
   -webkit-align-self: flex-start;
   align-self: flex-start;
   text-align: center;
}
@media (max-width: 480px)
{
#LayoutGrid1 > .col-1, #LayoutGrid1 > .col-2
{
   -webkit-flex-basis: 100% !important;
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_LayoutGrid2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #32CD32;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid2
{
   box-sizing: border-box;
   padding: 20px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid2 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid2 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid2 > .row > .col-1
{
   float: left;
}
#LayoutGrid2 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutGrid2:before,
#LayoutGrid2:after,
#LayoutGrid2 .row:before,
#LayoutGrid2 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid2:after,
#LayoutGrid2 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid2 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#Line1
{
   border-color: #A0A0A0;
   border-style: solid;
   border-bottom-width: 36px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0;
   padding: 0;
   opacity: 0.00;
}
#wb_LayoutGrid3
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid3
{
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid3 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid3 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid3 > .row > .col-1
{
   float: left;
}
#LayoutGrid3 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutGrid3:before,
#LayoutGrid3:after,
#LayoutGrid3 .row:before,
#LayoutGrid3 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid3:after,
#LayoutGrid3 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid3 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#Line2
{
   border-color: #A0A0A0;
   border-style: solid;
   border-bottom-width: 20px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0;
   padding: 0;
   opacity: 0.00;
}
#wb_LayoutGrid4
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid4
{
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid4 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid4 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid4 > .row > .col-1
{
   float: left;
}
#LayoutGrid4 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutGrid4:before,
#LayoutGrid4:after,
#LayoutGrid4 .row:before,
#LayoutGrid4 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid4:after,
#LayoutGrid4 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid4 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_Heading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
   padding: 20px 0px 20px 0px;
   text-align: center;
}
#Heading1
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   margin: 0;
   text-align: center;
}
#wb_LayoutGrid5
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #32CD32;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid5
{
   box-sizing: border-box;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   padding: 15px 0px 15px 0px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid5 > .col-1, #LayoutGrid5 > .col-2, #LayoutGrid5 > .col-3
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid5 > .col-1, #LayoutGrid5 > .col-2, #LayoutGrid5 > .col-3
{
   -webkit-flex: 0 0 auto;
   flex: 0 0 auto;
}
#LayoutGrid5 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 16.66666667%;
   max-width: 16.66666667%;
   -webkit-align-self: flex-start;
   align-self: flex-start;
   text-align: center;
}
#LayoutGrid5 > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 66.66666667%;
   max-width: 66.66666667%;
   -webkit-align-self: flex-start;
   align-self: flex-start;
   text-align: center;
}
#LayoutGrid5 > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 16.66666667%;
   max-width: 16.66666667%;
   -webkit-align-self: flex-start;
   align-self: flex-start;
   text-align: center;
}
@media (max-width: 100px)
{
#LayoutGrid5 > .col-1, #LayoutGrid5 > .col-2, #LayoutGrid5 > .col-3
{
   -webkit-flex-basis: 100% !important;
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#Accordion1
{
   width: 100%;
   height: 100%;
}
#wb_Accordion1 .ui-helper-reset
{
   line-height: normal !important;
}
#Accordion1 .ui-accordion-header
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px !important;
   font-style: normal;
   padding: 10px 10px 10px 10px;
   text-align: left;
}
#Accordion1 h3
{
   display: block;
   margin: 0;
}
#Accordion1 .ui-accordion-header .ui-icon
{
   padding-right: 4px;
}
#Accordion1 .ui-accordion-content
{
   padding: 4px 4px 4px 4px;
   position: relative;
   font-size: 0px;
   text-align: left;
}
#Accordion1, #Accordion1 > .ui-corner-all, #Accordion1 > .ui-corner-top
{
   border-top-left-radius: 6px;
   border-top-right-radius: 6px;
}
#Accordion1 .ui-corner-all, #Accordion1 .ui-corner-bottom
{
   border-bottom-right-radius: 6px;
   border-bottom-left-radius: 6px;
}
#wb_Accordion1
{
   margin: 0;
}
#Article1
{
   background-color: transparent;
   border: 1px solid #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.2;
   margin: 0;
   text-align: left;
   display: inline-block;
   position: relative;
   width: 100%;
}
#Article1 .blogitem
{
   margin-bottom: 6px;
   padding: 0px;
   text-align: left;
}
#Article1 .blogdate
{
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   color: #000000;
}
#Article1 .blogsubject, #Article1 .blogsubject a:link, #Article1 .blogsubject a:visited, #Article1 .blogsubject a:hover
{
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   color: #666666;
   text-decoration: none;
}
#Article1 .blogcomments, #Article1 .blogcomments a:link, #Article1 .blogcomments a:visited, #Article1 .blogcomments a:hover
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   color: #000000;
   text-decoration: underline;
}
#Article1 .blogcomments
{
   text-decoration: none;
}
#Article1 .no-thumb
{
   display: none;
}
#Article1 .blogsubject
{
   display: block;
   margin: 0;
   padding: 0;
}
#Article1 .blogthumb
{
   margin: 0 0 5px 0;
   float: right;
   padding: 0 5px 0 0;
}
#Article1 .blogthumb img
{
   border-width: 0px;
   width: 120px;
   height: auto;
}
#Article1 .blogdate, #Article1 .blogcomments
{
   display: none;
}
#Article1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   font-family: Arial;
   font-weight: normal;
   margin: 0;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2
{
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   line-height: 19px;
}
#wb_Text2 div
{
   text-align: left;
   white-space: nowrap;
}
#YouTube1
{
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border-width: 0;
}
#Article2
{
   background-color: transparent;
   border: 1px solid #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.2;
   margin: 0;
   text-align: left;
   display: inline-block;
   position: relative;
   width: 100%;
}
#Article2 .blogitem
{
   margin-bottom: 6px;
   padding: 0px;
   text-align: left;
}
#Article2 .blogdate
{
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   color: #000000;
}
#Article2 .blogsubject, #Article2 .blogsubject a:link, #Article2 .blogsubject a:visited, #Article2 .blogsubject a:hover
{
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   color: #666666;
   text-decoration: none;
}
#Article2 .blogcomments, #Article2 .blogcomments a:link, #Article2 .blogcomments a:visited, #Article2 .blogcomments a:hover
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   color: #000000;
   text-decoration: underline;
}
#Article2 .blogcomments
{
   text-decoration: none;
}
#Article2 .no-thumb
{
   display: none;
}
#Article2 .blogsubject
{
   display: block;
   margin: 0;
   padding: 0;
}
#Article2 .blogthumb
{
   margin: 0 0 5px 0;
   float: right;
   padding: 0 5px 0 0;
}
#Article2 .blogthumb img
{
   border-width: 0px;
   width: 120px;
   height: auto;
}
#Article2 .blogdate, #Article2 .blogcomments
{
   display: none;
}
#Article2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   font-family: Arial;
   font-weight: normal;
   margin: 0;
}
#wb_Card1
{
   display: inline-block;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
   background-color: #FDF5E6;
   background-image: none;
   border: 1px solid #006400;
   border-radius: 3px;
   box-sizing: border-box;
   margin: 10px 20px 0px 10px;
   padding: 0;
   text-align: center;
}
#Card1-card-body
{
   -webkit-flex: 1 1 auto;
   -ms-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card1-card-header
{
   box-sizing: border-box;
   border-bottom: 1px solid #006400;
   border-radius: 3px 3px 0 0;
   margin: 0;
   padding: 12px 20px 12px 20px;
   background-color: #F7F7F7;
   background-image: none;
   color: #2E8B57;
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
}
#Card1-card-item1
{
   box-sizing: border-box;
   margin: 20px 20px 0px 20px;
   color: #292B2C;
   font-family: Arial;
   font-weight: bold;
   font-size: 19px;
}
#Card1-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 0px 20px;
   color: #292B2C;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#Card1-card-item3
{
   box-sizing: border-box;
   margin: 20px 20px 0px 20px;
   border-top: 1px #D8D8D8 solid;
   height: 0;
   line-height: 0;
}
#Card1-card-item4
{
   display: inline-block;
   height: 35px;
   box-sizing: border-box;
   margin: 25px 20px 20px 20px;
   padding: 10px 16px 10px 16px;
   border: 1px solid #0275D8;
   border-radius: 4px;
   background-color: #0275D8;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#Card1-card-item4 a
{
   color: #FFFFFF;
   text-decoration: none;
}
#Card1-card-footer
{
   box-sizing: border-box;
   position: absolute;
   bottom: 1px;
   width: 221px;
   border-top: 1px solid #006400;
   border-radius: 0 0 3px 3px;
   margin: 0;
   padding: 12px 20px 12px 20px;
   background-color: #F7F7F7;
   background-image: none;
   color: #292B2C;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#wb_ResponsiveMenu1
{
   background-color: rgba(50,205,50,1.00);
   display: block;
   font-family: Arial;
   font-weight: normal;
   text-align: center;
   width: 100%;
}
#ResponsiveMenu1
{
   background-color: #32CD32;
   display: inline-block;
   height: 45px;
}
#wb_ResponsiveMenu1 ul
{
   list-style: none;
   margin: 0;
   padding: 0;
   position: relative;
}
#wb_ResponsiveMenu1 ul:after
{
   clear: both;
   content: "";
   display: block;
}
#wb_ResponsiveMenu1 ul li
{
   background-color: #32CD32;
   display: list-item;
   float: left;
   list-style: none;
   z-index: 9999;
}
#wb_ResponsiveMenu1 ul li i
{
   font-size: 0px;
   width: 0px;
}
#wb_ResponsiveMenu1 ul li a 
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   padding: 15px 15px 15px 15px;
   text-align: center;
   text-decoration: none;
}
#wb_ResponsiveMenu1 > ul > li > a 
{
   height: 15px;
}
.ResponsiveMenu1 a 
{
   display: block;
}
#wb_ResponsiveMenu1 li a:hover, #wb_ResponsiveMenu1 li .active
{ 
   background-color: #CCCCCC;
   color: #424242;
}
#wb_ResponsiveMenu1 ul ul
{
   display: none;
   position: absolute;
   top: 45px;
}
#wb_ResponsiveMenu1 ul li:hover > ul
{
   display: list-item;
}
#wb_ResponsiveMenu1 ul ul li 
{
   background-color: #7A7A7A;
   color: #FFFFFF;
   float: none;
   position: relative;
   width: 103px;
}
#wb_ResponsiveMenu1 ul ul li a:hover, #wb_ResponsiveMenu1 ul ul li .active
{
   background-color: #CCCCCC;
   color: #424242;
}
#wb_ResponsiveMenu1 ul ul li i 
{
   margin-right: 0px;
   vertical-align: middle;
}
#wb_ResponsiveMenu1 ul ul li a 
{
   color: #FFFFFF;
   padding: 15px 20px 18px 20px;
   text-align: left;
   vertical-align: middle;
}
#wb_ResponsiveMenu1 ul ul ul li 
{
   left: 103px;
   position: relative;
   top: -45px;
}
#wb_ResponsiveMenu1 .arrow-down 
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 2px;
   vertical-align: middle;
   border-top: 4px solid #FFFFFF;
   border-right: 4px solid transparent;
   border-left: 4px solid transparent;
   border-bottom: 0 dotted;
}
#wb_ResponsiveMenu1 .arrow-left 
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 4px;
   vertical-align: middle;
   border-left: 4px solid #FFFFFF;
   border-top: 4px solid transparent;
   border-bottom: 4px solid transparent;
   border-right: 0 dotted;
}
#wb_ResponsiveMenu1 li a:hover .arrow-down
{ 
   border-top-color: #424242;
}
#wb_ResponsiveMenu1 ul ul li a:hover .arrow-left, #wb_ResponsiveMenu1 ul ul li .active .arrow-left
{ 
   border-left-color: #424242;
}
#wb_ResponsiveMenu1 .toggle,[id^=ResponsiveMenu1-submenu]
{
   display: none;
}
@media all and (max-width:970px) 
{
#wb_ResponsiveMenu1 
{
   margin: 0;
   text-align: left;
}
#wb_ResponsiveMenu1 ul li a, #wb_ResponsiveMenu1 .toggle
{
   font-size: 13px;
   font-weight: normal;
   font-style: normal;
   padding: 15px 20px 18px 20px;
}
#wb_ResponsiveMenu1 .toggle + a
{
   display: none !important;
}
.ResponsiveMenu1 
{
   display: none;
   z-index: 9999;
}
#ResponsiveMenu1 
{
   background-color: transparent;
   display: none;
}
#wb_ResponsiveMenu1 > ul > li > a 
{
   height: auto;
}
#wb_ResponsiveMenu1 .toggle 
{
   display: block;
   background-color: #32CD32;
   color: #FFFFFF;
   padding: 0px 20px 0px 20px;
   line-height: 33px;
   text-decoration: none;
   border: none;
}
#wb_ResponsiveMenu1 .toggle:hover 
{
   background-color: #CCCCCC;
   color: #424242;
}
[id^=ResponsiveMenu1-submenu]:checked + ul 
{
   display: block !important;
}
#ResponsiveMenu1-title
{
   height: 45px;
   line-height: 45px !important;
   text-align: center;
}
#wb_ResponsiveMenu1 ul li 
{
   display: block;
   width: 100%;
   text-align: left;
}
#wb_ResponsiveMenu1 ul ul .toggle,
#wb_ResponsiveMenu1 ul ul a 
{
   padding: 0 40px;
}
#wb_ResponsiveMenu1 a:hover,
#wb_ResponsiveMenu1 ul ul ul a 
{
   background-color: #7A7A7A;
   color: #FFFFFF;
}
#wb_ResponsiveMenu1 ul li ul li .toggle,
#wb_ResponsiveMenu1 ul ul a 
{
   background-color: #7A7A7A;
   color: #FFFFFF;
}
#wb_ResponsiveMenu1 ul ul ul a 
{
   padding: 15px 20px 18px 60px;
}
#wb_ResponsiveMenu1 ul li a 
{
   text-align: left;
}
#wb_ResponsiveMenu1 ul li a br 
{
   display: none;
}
#wb_ResponsiveMenu1 ul li i 
{
   margin-right: 0px;
}
#wb_ResponsiveMenu1 ul ul 
{
   float: none;
   position: static;
}
#wb_ResponsiveMenu1 ul ul li:hover > ul,
#wb_ResponsiveMenu1 ul li:hover > ul 
{
   display: none;
}
#wb_ResponsiveMenu1 ul ul li 
{
   display: block;
   width: 100%;
}
#wb_ResponsiveMenu1 ul ul ul li 
{
   position: static;
}
#ResponsiveMenu1-icon 
{
   display: block;
   position: absolute;
   left: 15px;
   top: 10px;
}
#ResponsiveMenu1-icon span 
{
   display: block;
   margin-top: 4px;
   height: 2px;
   background-color: #FFFFFF;
   color: #FFFFFF;
   width: 24px;
}
#wb_ResponsiveMenu1 ul li ul li .toggle:hover
{
   background-color: #CCCCCC;
   color: #424242;
}
#wb_ResponsiveMenu1 .toggle .arrow-down 
{
   border-top-color: #FFFFFF;
}
#wb_ResponsiveMenu1 .toggle:hover .arrow-down, #wb_ResponsiveMenu1 li .active .arrow-down
{ 
   border-top-color: #424242;
}
#wb_ResponsiveMenu1 ul li ul li .toggle .arrow-down 
{
   border-top-color: #FFFFFF;
}
#wb_ResponsiveMenu1 ul li ul li .toggle:hover .arrow-down, #wb_ResponsiveMenu1 ul li ul li .active .arrow-down
{ 
   border-top-color: #424242;
}
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text1
{
   font-family: Arial;
   font-weight: normal;
   font-size: 37px;
   line-height: 44px;
}
#wb_Text1 div
{
   text-align: center;
   white-space: nowrap;
}
#wb_YouTube1
{
   display: inline-block;
   width: 445px;
   height: 194px;
   z-index: 7;
}
#PageHeader1_Container
{
   width: 970px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#wb_Accordion1
{
   display: inline-block;
   width: 100%;
   z-index: 10;
}
#PageHeader1
{
   position: fixed;
   text-align: center;
   left: 0;
   top: 0;
   right: 0;
   height: 87px;
   z-index: 7777;
}
#Article1
{
   overflow: hidden;
}
#Line1
{
   display: inline-block;
   width: 48px;
   z-index: 1;
}
#Article2
{
   overflow: hidden;
}
#Line2
{
   display: inline-block;
   width: 605px;
   z-index: 3;
}
#wb_ResponsiveMenu1
{
   position: absolute;
   left: 213px;
   top: 21px;
   width: 544px;
   height: 45px;
   z-index: 0;
}
#wb_Card1
{
   display: inline-block;
   width: 193px;
   height: 362px;
   text-align: center;
   z-index: 9;
}
#wb_Heading1
{
   display: inline-block;
   width: 100%;
   z-index: 4;
}
@media only screen and (min-width: 768px) and (max-width: 969px)
{
div#container
{
   width: 768px;
}
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#PageHeader1
{
   height: 63px;
   visibility: visible;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #F5F5F5;
   background-image: none;
}
#PageHeader1_Container
{
   width: 768px;
}
#BuildWith1
{
   left: 441px;
   top: 2131px;
   width: 88px;
   height: 31px;
   visibility: visible;
   display: inline;
}
#wb_LayoutGrid1
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #D3D3D3;
   background-image: none;
}
#wb_LayoutGrid1
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid1
{
   padding: 5px 0px 25px 0px;
}
#LayoutGrid1 > .col-1, #LayoutGrid1 > .col-2
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid1 > .col-1
{
   display: block;
   flex-basis: 8.33333333%;
   max-width: 8.33333333%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   -webkit-align-self: flex-start;
   align-self: flex-start;
   text-align: center;
}
#LayoutGrid1 > .col-2
{
   display: block;
   flex-basis: 91.66666667%;
   max-width: 91.66666667%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   -webkit-align-self: flex-start;
   align-self: flex-start;
   text-align: center;
}
#wb_LayoutGrid2
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #32CD32;
   background-image: none;
}
#wb_LayoutGrid2
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid2
{
   padding: 20px 15px 0px 15px;
}
#LayoutGrid2 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid2 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid2 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#Line1
{
   width: 34px;
   height: 36px;
   visibility: visible;
   display: inline-block;
   margin: 0;
}
#Line1
{
   border-color: #A0A0A0;
   border-bottom-width: 36px;
}
#wb_LayoutGrid3
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_LayoutGrid3
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid3
{
   padding: 0px 15px 0px 15px;
}
#LayoutGrid3 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid3 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid3 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#Line2
{
   width: 290px;
   height: 20px;
   visibility: visible;
   display: inline-block;
   margin: 0;
}
#Line2
{
   border-color: #A0A0A0;
   border-bottom-width: 20px;
}
#wb_LayoutGrid4
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_LayoutGrid4
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid4
{
   padding: 0px 15px 0px 15px;
}
#LayoutGrid4 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid4 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid4 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#wb_Heading1
{
   width: calc(100% - 0px);
   visibility: visible;
   display: block;
   color: #000000;
   font-size: 32px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   margin: 0;
   padding: 20px 0px 20px 0px;
}
#wb_Heading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   text-align: center;
}
#Heading1
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
}
#wb_LayoutGrid5
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #32CD32;
   background-image: none;
}
#wb_LayoutGrid5
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid5
{
   padding: 15px 0px 15px 0px;
}
#LayoutGrid5 > .col-1, #LayoutGrid5 > .col-2, #LayoutGrid5 > .col-3
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid5 > .col-1
{
   display: block;
   flex-basis: 16.66666667%;
   max-width: 16.66666667%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   -webkit-align-self: flex-start;
   align-self: flex-start;
   text-align: center;
}
#LayoutGrid5 > .col-2
{
   display: block;
   flex-basis: 66.66666667%;
   max-width: 66.66666667%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   -webkit-align-self: flex-start;
   align-self: flex-start;
   text-align: center;
}
#LayoutGrid5 > .col-3
{
   display: block;
   flex-basis: 16.66666667%;
   max-width: 16.66666667%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   -webkit-align-self: flex-start;
   align-self: flex-start;
   text-align: center;
}
#wb_Accordion1
{
   width: calc(100% - 0px);
   visibility: visible;
   display: block;
   margin: 0;
}
#Article1
{
   visibility: visible;
   display: block;
   color: #FFFFFF;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#Article1 .blogcolumn
{
   width: 100%;
}
#Article1 .visible-col1
{
   display: block;
}
#wb_Text2
{
   visibility: visible;
   display: block;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text2
{
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   margin: 0;
   padding: 0;
   text-align: left;
   line-height: 19px;
}
#wb_YouTube1
{
   width: 445px;
   height: 194px;
   visibility: visible;
   display: inline-block;
   margin: 0;
}
#Article2
{
   visibility: visible;
   display: block;
   color: #FFFFFF;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#Article2 .blogcolumn
{
   width: 100%;
}
#Article2 .visible-col1
{
   display: block;
}
#wb_Card1
{
   width: 293px;
   height: 362px;
   visibility: visible;
   display: flex;
   color: #FFFFFF;
   font-size: 16px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FDF5E6;
   background-image: none;
   border-radius: 3px;
   margin: 10px 20px 0px 10px;
}
#Card1-card-header
{
   box-sizing: border-box;
   border-bottom: 1px solid #006400;
   border-radius: 3px 3px 0 0;
   margin: 0;
   padding: 12px 20px 12px 20px;
   background-color: #F7F7F7;
   background-image: none;
   color: #2E8B57;
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
}
#Card1-card-item1
{
   box-sizing: border-box;
   margin: 20px 20px 0px 20px;
   color: #292B2C;
   font-family: Arial;
   font-weight: bold;
   font-size: 19px;
}
#Card1-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 0px 20px;
   color: #292B2C;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#Card1-card-item3
{
   box-sizing: border-box;
   margin: 20px 20px 0px 20px;
   border-top: 1px #D8D8D8 solid;
   height: 0;
   line-height: 0;
}
#Card1-card-item4
{
   display: inline-block;
   height: 35px;
   box-sizing: border-box;
   margin: 25px 20px 20px 20px;
   padding: 10px 16px 10px 16px;
   border: 1px solid #0275D8;
   border-radius: 4px;
   background-color: #0275D8;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#Card1-card-item4 a
{
   color: #FFFFFF;
   text-decoration: none;
}
#Card1-card-footer
{
   box-sizing: border-box;
   position: absolute;
   bottom: 1px;
   width: 289px;
   border-top: 1px solid #006400;
   border-radius: 0 0 3px 3px;
   margin: 0;
   padding: 12px 20px 12px 20px;
   background-color: #F7F7F7;
   background-image: none;
   color: #292B2C;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#wb_ResponsiveMenu1
{
   left: 298px;
   top: 9px;
   width: 172px;
   height: 45px;
   visibility: visible;
   display: inline;
   margin: 0;
   text-align: center;
}
#wb_Text1
{
   visibility: visible;
   display: block;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text1
{
   font-family: Arial;
   font-weight: normal;
   font-size: 37px;
   margin: 0;
   padding: 0;
   text-align: center;
   line-height: 44px;
}
}
@media only screen and (max-width: 767px)
{
div#container
{
   width: 320px;
}
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#PageHeader1
{
   height: 63px;
   visibility: visible;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #F5F5F5;
   background-image: none;
}
#PageHeader1_Container
{
   width: 320px;
}
#BuildWith1
{
   left: 441px;
   top: 2131px;
   width: 88px;
   height: 31px;
   visibility: visible;
   display: inline;
}
#wb_LayoutGrid1
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #D3D3D3;
   background-image: none;
}
#wb_LayoutGrid1
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid1
{
   padding: 5px 0px 25px 0px;
}
#LayoutGrid1 > .col-1, #LayoutGrid1 > .col-2
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid1 > .col-1
{
   display: block;
   -webkit-flex-basis: 100%;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   -webkit-align-self: flex-start;
   align-self: flex-start;
   text-align: center;
}
#LayoutGrid1 > .col-2
{
   display: block;
   -webkit-flex-basis: 100%;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   -webkit-align-self: flex-start;
   align-self: flex-start;
   text-align: center;
}
#wb_LayoutGrid2
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #32CD32;
   background-image: none;
}
#wb_LayoutGrid2
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid2
{
   padding: 20px 15px 0px 15px;
}
#LayoutGrid2 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid2 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid2 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#Line1
{
   width: 50px;
   height: 36px;
   visibility: visible;
   display: inline-block;
   margin: 0;
}
#Line1
{
   border-color: #A0A0A0;
   border-bottom-width: 36px;
}
#wb_LayoutGrid3
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_LayoutGrid3
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid3
{
   padding: 0px 15px 0px 15px;
}
#LayoutGrid3 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid3 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid3 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#Line2
{
   width: 290px;
   height: 20px;
   visibility: visible;
   display: inline-block;
   margin: 0;
}
#Line2
{
   border-color: #A0A0A0;
   border-bottom-width: 20px;
}
#wb_LayoutGrid4
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_LayoutGrid4
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid4
{
   padding: 0px 15px 0px 15px;
}
#LayoutGrid4 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid4 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid4 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#wb_Heading1
{
   width: calc(100% - 0px);
   visibility: visible;
   display: block;
   color: #000000;
   font-size: 32px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   margin: 0;
   padding: 20px 0px 20px 0px;
}
#wb_Heading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   text-align: center;
}
#Heading1
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
}
#wb_LayoutGrid5
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #32CD32;
   background-image: none;
}
#wb_LayoutGrid5
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid5
{
   padding: 15px 0px 15px 0px;
}
#LayoutGrid5 > .col-1, #LayoutGrid5 > .col-2, #LayoutGrid5 > .col-3
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid5 > .col-1
{
   display: block;
   flex-basis: 16.66666667%;
   max-width: 16.66666667%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   -webkit-align-self: flex-start;
   align-self: flex-start;
   text-align: center;
}
#LayoutGrid5 > .col-2
{
   display: block;
   flex-basis: 66.66666667%;
   max-width: 66.66666667%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   -webkit-align-self: flex-start;
   align-self: flex-start;
   text-align: center;
}
#LayoutGrid5 > .col-3
{
   display: block;
   flex-basis: 16.66666667%;
   max-width: 16.66666667%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   -webkit-align-self: flex-start;
   align-self: flex-start;
   text-align: center;
}
#wb_Accordion1
{
   width: calc(100% - 0px);
   visibility: visible;
   display: block;
   margin: 0;
}
#Article1
{
   visibility: visible;
   display: block;
   color: #FFFFFF;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#Article1 .blogcolumn
{
   width: 100%;
}
#Article1 .visible-col1
{
   display: block;
}
#wb_Text2
{
   visibility: visible;
   display: block;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text2
{
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   margin: 0;
   padding: 0;
   text-align: left;
   line-height: 19px;
}
#wb_YouTube1
{
   width: 173px;
   height: 126px;
   visibility: visible;
   display: inline-block;
   margin: 0;
}
#Article2
{
   visibility: visible;
   display: block;
   color: #FFFFFF;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#Article2
{
   font-family: Arial;
   font-size: 13px;
}
#Article2 .blogdate
{
   font-family: Arial;
   font-size: 13px;
}
#Article2 .blogsubject
{
   font-family: Arial;
   font-size: 13px;
}
#Article2 .blogcomments
{
   font-family: Arial;
   font-size: 13px;
}
#Article2 .blogcolumn
{
   width: 100%;
}
#Article2 .visible-col1
{
   display: block;
}
#wb_Card1
{
   width: 141px;
   height: 430px;
   visibility: visible;
   display: flex;
   color: #FFFFFF;
   font-size: 16px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FDF5E6;
   background-image: none;
   border-radius: 3px;
   margin: 10px 20px 0px 10px;
}
#Card1-card-header
{
   box-sizing: border-box;
   border-bottom: 1px solid #006400;
   border-radius: 3px 3px 0 0;
   margin: 0;
   padding: 12px 20px 12px 20px;
   background-color: #F7F7F7;
   background-image: none;
   color: #2E8B57;
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
}
#Card1-card-item1
{
   box-sizing: border-box;
   margin: 20px 20px 0px 20px;
   color: #292B2C;
   font-family: Arial;
   font-weight: bold;
   font-size: 19px;
}
#Card1-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 0px 20px;
   color: #292B2C;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#Card1-card-item3
{
   box-sizing: border-box;
   margin: 20px 20px 0px 20px;
   border-top: 1px #D8D8D8 solid;
   height: 0;
   line-height: 0;
}
#Card1-card-item4
{
   display: inline-block;
   height: 35px;
   box-sizing: border-box;
   margin: 25px 20px 20px 20px;
   padding: 10px 16px 10px 16px;
   border: 1px solid #0275D8;
   border-radius: 4px;
   background-color: #0275D8;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#Card1-card-item4 a
{
   color: #FFFFFF;
   text-decoration: none;
}
#Card1-card-footer
{
   box-sizing: border-box;
   position: absolute;
   bottom: 1px;
   width: 137px;
   border-top: 1px solid #006400;
   border-radius: 0 0 3px 3px;
   margin: 0;
   padding: 12px 20px 12px 20px;
   background-color: #F7F7F7;
   background-image: none;
   color: #292B2C;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#wb_ResponsiveMenu1
{
   left: 71px;
   top: 9px;
   width: 172px;
   height: 45px;
   visibility: visible;
   display: inline;
   margin: 0;
   text-align: center;
}
#wb_Text1
{
   visibility: visible;
   display: block;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text1
{
   font-family: Arial;
   font-weight: normal;
   font-size: 37px;
   margin: 0;
   padding: 0;
   text-align: center;
   line-height: 44px;
}
}
